{% extends 'base.html' %}
{% block title %}Active timer{% endblock %}
{% block content %}
    {% load static %}
    {% load timer_extras %}
    <div class="dashboard-content border-dashed p-3 m-4">
    <h2>Twój licznik o id <span id="timer_id">{{ timer.id }}</span> jest aktywny od:
            <h4 id="start_time">{{ timer.start_time|date:'Y-m-d H:i:s' }}</h4></h2><br>
            <button style="color: blue" class="edit-data" id="edit_data">zmień dane</button>
        <div id="active_timer">
            <p>Czas trwania: <span id="timer_duration">0 dni, 00:00:00</span></p>
            {% if timer.pause_duration_total %}
                <p>Czas przerw: <span id="timer_pause_duration">{{timer.pause_duration_total|no_microseconds}}</span></p>
            {% else %}
                <p>Czas przerw: <span id="timer_pause_duration">Brak przerw</span></p>
            {% endif %}
            <p><h3>Klient:</h3> {{ timer.client }} </p>
            <p><h3>Projekt:</h3> {{ timer.case }} </p>
            <p><h3>Zadanie:</h3> {{ timer.task }} </p>
        </div>

        <div id="edit_timer" class="hidden">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Zapisz">
            </form><br>
        </div>

        <div id="stop_button" class="timer-buttons">
            <img class="timer-buttons" src="{% static 'images/buttons/stop.png' %}" alt="STOP">
        </div>
        {% if timer.pause_active %}
        <div id="pause_button" class="timer-buttons hidden">
        {% else %}
        <div id="pause_button" class="timer-buttons">
        {% endif %}
        <img class="timer-buttons" src="{% static 'images/buttons/pause.png' %}" alt="PAUZA">
        </div>

        {% if timer.pause_active %}
        <div id="play_button" class="timer-buttons">
        {% else %}
        <div id="play_button" class="timer-buttons hidden">
        {% endif %}
        <img class="timer-buttons" src="{% static 'images/buttons/play.png' %}" alt="PLAY">
        </div>

        {% if timer.pause_active %}
        <div id="pause_counter">
        {% else %}
        <div id="pause_counter" class="hidden">
        {% endif %}
            <h2>Ostatnia przerwa trwa od:
            <h4 id="timer_pause_from">{{ timer.pause_start_time|date:'Y-m-d H:i:s' }}</h4>
            </h2>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src={% static 'js/timer_is_active.js' %}></script>
{% endblock %}