<h1>Twój licznik jest aktywny od:
<h3>{{ timer.start_time }}</h3></h1>
<ul>
    <li><h3>Klient:</h3> {{ timer.client }}</li>
    <li><h3>Projekt:</h3> {{ timer.case }}</li>
    <li><h3>Zadanie:</h3> {{ timer.task }}</li>
</ul>
{% if not timer.pause_active %}
<a href="{% url 'timer_stop' timer.id %}">
    <button  class="btn btn-stop" >TIMER STOP</button>
</a>
<a href="{% url 'timer_pause' timer.id %}">
    <button class="btn btn-pause">timer PAUZA</button>
</a>
{% else %}
<a href="{% url 'timer_pause' timer.id%}">
    <button class="btn btn-resume">timer WZNÓW</button>
</a>
{% endif %}